<div class="d-flex flex-column align-items-center">

  <h3>Formulario de Crear Libro</h3>

  {{!-- {{this.allAuthors}} --}}

  <form action="/book/create" method="post" enctype="multipart/form-data">

    <label for="title" class="form-label">Titulo</label>
    <input type="text" name="title" class="form-control">

    <br>

    <label for="description" class="form-label">Descripción</label>
    <input type="text" name="description" class="form-control">

    <br>

    <label for="author" class="form-label">Autor</label>

    {{!-- <input type="text" name="author"> --}}

    <select name="author" multiple="true" class="form-select">

      {{#each this.allAuthors}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}

    </select>

    <br>

    <label for="coverImage" class="form-label">Imagen de cubierta</label>
    <input type="file" name="coverImage" class="form-control">

    <br>

    <button class="btn btn-info">Agregar</button>

  </form>

</div>