<div>

  <h3>Formulario de Crear Libro</h3>

  {{!-- {{this.allAuthors}} --}}

  <form action="/book/create" method="post">

    <label for="title">Titulo</label>
    <input type="text" name="title">

    <br>

    <label for="description">Descripción</label>
    <input type="text" name="description">

    <br>

    <label for="author">Autor</label>

    {{!-- <input type="text" name="author"> --}}

    <select name="author" multiple="true">

      {{#each this.allAuthors}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}

    </select>

    <br>

    <label for="coverImage">Imagen de cubierta</label>
    <input type="file" name="coverImage">

    <br>

    <button>Agregar</button>

  </form>

</div>