<div class="d-flex flex-column align-items-center">

  <h3>Lista de Libros</h3>

  <div class="list-group">
    {{#each this.allBooks}}


        <a class="list-group-item list-group-item-action list-group-item-warning" href="/book/{{this._id}}/details">{{this.title}}</a>


    {{/each}}
  </div>

</div>